<nav>
  <h1>Consultation reservation app</h1>
  <ul>
    @if ((currentUser$ | async) !== null){
      @if ((currentUser$ | async)?.role === 'doctor'){
        <li>
          <a routerLink="/mycalendar">Mój kalendarz</a>
        </li>
        <li>
          <a routerLink="/newavailability">Dodaj dostępność</a>
        </li>
        <li>
          <a routerLink="/newabsence">Dodaj absencję</a>
        </li>
      } @else if ((currentUser$ | async)?.role === 'patient'){

        <li>
          <a routerLink="/doctors">Lista lekarzy</a>
        </li>

        <li>
          <a routerLink="/mycalendar">Moje konsultacje</a>
        </li>

        <li>
          <a routerLink="/cart">Koszyk</a>
        </li>

      }
      <li>
        <a (click)="logout()">Wyloguj się</a>
      </li>
      <div class="username">
        {{(currentUser$ | async)?.username}}
      </div>

    } @else {
      <li>
        <a routerLink="/doctors">Lista lekarzy</a>
      </li>
      <li>
        <a routerLink="/login">Zaloguj się</a>
      </li>
      <li>
        <a routerLink="/register">Zarejestruj się</a>
      </li>
    }
  </ul>
</nav>
